<!DOCTYPE html>
<html ng-app="ideal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@SiteSettings.WebsiteName - @ViewBag.Title</title>

    <link rel="stylesheet/less" type="text/css" href="~/less/bootstrap/bootstrap.less" />
    <link rel="stylesheet/less" type="text/css" href="~/less/font-awesome/font-awesome.less" />
    <link rel="stylesheet/less" type="text/css" href="~/Content/site.less" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/less-js")

</head>
<body ng-controller="iMainLayout as layout">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(SiteSettings.WebsiteName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                    <a class="btn btn-success" href="@Url.Action("Register","Account",new {area=""})">Register</a>
                </form>
            </div>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular-core")
    @Scripts.Render("~/bundles/angular-app")

    @RenderSection("scripts", false)

</body>
</html>